 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Web Bhumi</title>
  <script src="../js/angular.js" charset="utf-8"></script>
  <script src="../js/book.js" charset="utf-8"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <style>
  td,table,th{border:1px solid black;
    border-collapse:collapse; }
    </style>

  </head>
  <body ng-app="WebBhumi">

    <div  ng-controller="classes" class="container">
      <table class="table table-bordered table-striped">
        <thead>
          <th ng-click="setSelectedValue('name')">name
		  <span ng-show="getSelectedValue('name')"><i class="fa fa-caret-up" aria-hidden="true"></i>
</span>
		  <span ng-hide="getSelectedValue('name')" ><i class="fa fa-caret-down" aria-hidden="true" ></i>
</span>

          </th>
          <th ng-click="setSelectedValue('course')">course
		  <span ng-show="getSelectedValue('course')"><i class="fa fa-caret-up" aria-hidden="true"></i>
</span>
		  <span ng-hide="getSelectedValue('course')" ><i class="fa fa-caret-down" aria-hidden="true" ></i>
</span>
          </th>
          <th>covers
          </th>
          <th ng-click="setSelectedValue('batch')">batch
          </th>
          <th ng-click="setSelectedValue('like')">Like
		  <span ng-show="getSelectedValue('like')"><i class="fa fa-caret-up" aria-hidden="true"></i>
</span>
		  <span ng-hide="getSelectedValue('like')" ><i class="fa fa-caret-down" aria-hidden="true" ></i>
</span></th>
          <th ng-click="setSelectedValue('dislike')">Dislike
		  <span ng-show="getSelectedValue('dislike')"><i class="fa fa-caret-up" aria-hidden="true"></i>
</span>
		  <span ng-hide="getSelectedValue('dislike')" ><i class="fa fa-caret-down" aria-hidden="true" ></i>
</span></th>
 <th>Gender
          </th>
        </thead>
        <tr ng-repeat="student in students|orderBy:selectedValue" ng-init="st.name=student.course">
          <td>{{student.name}}</td>
          <td>{{st.name}}</td>
          <td ng-controller="courses">
            <ul>
              <li ng-repeat="course in courses|filter:filterByMe">

                {{course.name}}

                <ul>
                  <li ng-repeat="subject in course.covers">

                    {{subject.name|limitChar:3}}
                  </li>
                </ul>
              </li>
            </ul>
          </td>
          <td ng-click="toggle(student)">{{student.batch|toHash:student.it}}</td>

          <td ng-click=increseLike(student)>{{student.like}}</td>
          <td ng-click=increseDisLike(student)> {{student.dislike}}</td>
		   <td>{{student.gender|gender}}</td>
        </tr>


      </table>

    </div>
    <script src="day-8.js" charset="utf-8"></script>
  </body>
  </html>
