<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Bhumi</title>
    <script src="../js/angular.min.js" charset="utf-8"></script>
    <script src="../js/book.js" charset="utf-8"></script>
	<style>
	td,table{border:1px solid black;
		border-collapse:collapse; }
	</style>

  </head>
  <body ng-app="WebBhumi">

  <div  ng-controller="classes">
  <table>
  <thead>
  <th>name
  </th>
  <th>course
  </th>

  <th>covers
  </th>
  <th>batch
  </th>
  </thead>
  <tr ng-repeat="student in students" ng-init="st.name=student.course">
  <td>{{student.name}}</td>
  <td>{{st.name}}</td>
  <td ng-controller="courses">
  <ul>
  <li ng-repeat="course in courses|filter:filterByMe">

  {{course.name}}

   <ul>
     <li ng-repeat="subject in course.covers">

  {{subject.name}}
  </li>
   </ul>
  </li>
  </ul>
  </td>
  <td>{{student.batch}}</td>


  </tr>


  </table>

  </div>
  <script>
  var myApp=angular.module("WebBhumi",[]);
var classes=function ($scope) {
  var students = [{name:"Raj",course:"Angular",batch:"08:00 pm"}, {name:"Brijesh",course:"Web Design",batch:"12:00 pm"}, {name:"Darshay",course:"Web Design",batch:"11:00 am"}, {name:"Shalini",course:"Web Design",batch:"04:00 pm"},{name:"Aruna",course:"All",batch:"09:00 am" },{name:"Jayesh",course:"All",batch:"12:00 am" },{name:"AKhlesh",course:"Angular",batch:"08:00 pm" }];
  $scope.students=students;
};
myApp.controller("classes",classes);


var coursesFunc= function($scope) {
  var courses = [{name:"Angular",covers:[{name:"JavaScript"},{name:"Angular"}]},{name:"Web Design",covers:[{name:"html"},{name:"css"},{name:"JavaScript"},{name:"Angular"}]}];
  $scope.courses=courses;
  $scope.filterByMe=function(item) {
    if(item.name==$scope.st.name||$scope.st.name=="All")
      {
        return true;
      }
      else {
        return false;
      }
  }
  }

  myApp.controller("courses",coursesFunc);
  </script>
  </body>
  </html>
